@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root {
  --color-primary: rgb(170 170 170);
  blue: rgb(0 0 170);
}
h1, h2, p {
  font-family: 'VT323', monospace;
}
html,
body {
  font-family: 'VT323', monospace;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  margin:12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
